@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  background: #F5F8D2;
  color: #494C1B;
  font-family: 'Inter', sans-serif, system-ui;
  font-weight: 700;
  font-size: 16px;
  font-smooth: auto;
  margin: 40px;

  --arrow-bg: #656B1D;
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}